.timeline-container {
  display: flex;
  flex-direction: column;
  margin: 40px 0;
  position: relative;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.timeline-container::after {
  background-color: black;
  content: '';
  position: absolute;
  width: 4px;
  height: 100%;
  left: calc(40% - 2px);
}

.timeline-item {
  display: flex;
  justify-content: flex-end;
  width: 60%;
  align-self: flex-end;
}

.timeline-item-content {
  position: relative;
}

.circle {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  position: absolute;
  background-color: white;
  border: 3px solid black;
  left: -9px;
  z-index: 100;

}
